* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}
.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.header h1 {
    color:#FF0066;
}
img{
    max-height: 100%;
    max-width: 40%;
}
