
.center{
    margin: auto;
    width: 25%;
    padding: 10px;
}

.Column
{
    float: right;
    display: table-cell;

}
.row:after
{
    content: "";
    display: table;
    clear: both;


}
.header {

    padding: 15px;
}

.main {
    width: 25%;
    float: left;

    border: 1px solid red;
}
 h1 {
    color:#4AA3FF;
}
p {
    color:#4AA3FF;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color:#4AA3FF;
}

tr>th{

}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; background-color: aquamarine; }
.item4 { grid-area: footer; }
.grid-container {
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'menu menu menu menu menu menu'
            'main main main main main main'
            'footer footer footer footer footer footer';

}
.grid-container > div {

    text-align: center;
    font-size: 30px;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

