{{define "addCategoryModal"}}
    <!-- abgeändertes Beispiel von w3school -->
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="modal.css">
    </head>
    <body>
    <!-- The Modal -->
    <div id="addCategoryModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="header item1" >
                    <h1>drück<img src=icon.png style="width:50px;height:50px">ich</h1>
                </div>
            </div>
            <div class="modal-body">
                <h2>dem Lesezeichen eine Kategorie hinzufügen</h2>
                <select onchange="addCategory(event)" id="addSelect">
                    <option>Kategorie auswählen</option>
                </select>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
   <template id="selectMenu">
           <option></option>
   </template>

    </body>
    </html>
{{end}}