{{define "bookmarks"}}
{{template "head"}}
<form method="post" action="deleteAccount">
    <input type="submit" value="deleteUser">
</form>
<form method="post" action="logout">
    <input type="submit" value="logout">
</form>

<table>
    <tr>

        <th>URL</th>
        <th>Kurzbeschreibung</th>
        <th>TitelText</th>
        <th>Images</th>
        <th>Icon/Logo</th>
        <th>Kategorien</th>
        <th>GPS</th>
    </tr>
{{range .Bookmarks}}
    <tr>

        <td><a href={{.URL}}>{{.URL}}</a></td>
        <td>{{.ShortReview}}</td>
        <td>{{.TitleText}}</td>
        <td><a href="{{.Images}}"></a></td>
        <td><img src="/gridGetIcon?fileName="{{.IconName}}></td>
        <td>{{.Categories}}</td>
        <td>{{.Coordinates}}</td>
    </tr>
{{end}}
</table>
<script src="bookmarks.js"></script>
{{template "end"}}
{{end}}
