{{define "bookmarks"}}
    {{template "head"}}

    <div class="item2">
        <fieldset>
            <legend>Lesezeichen hochladen</legend>
            <form method="post" action="upLoad" id="uploadBookmark" enctype="multipart/form-data">
                <input type="file" name="uploadBookmark">
                <input type="submit" onclick="uploadFile(event)" value="los geht`s">
            </form>
        </fieldset>
        <div class="Column">
            <form action="deleteAccount">
                <input type="submit" value="deleteUser">
            </form>
        </div>
        <div class="Column">
            <form method="post" action="geospatial" id="geospatial">

                <input type="text" name="longitude" placeholder="Longitude">
                <input type="text" name="latitude" placeholder="Latitude">

                <input type="submit" onclick="geospatial(event)">
            </form>

        </div>
        <div class="Column">
            <input type="text" placeholder="suche In Kurzbeschreibung" id="searchShortReview"
                   oninput="searchShortReview(event)">
        </div>
        <div class="Column">
            <form action="logout">
                <input type="submit" value="logout">
            </form>
        </div>
        <div class="Column">
            <button value="neue Kategorie" id="newCategory" onclick="openNewCategoryModal()">neue Kategorie</button>
        </div>
        <div class="Column">
            <select onchange="filterBookmarks()" id="filterBookmarks">
                <option>nach Benutzerkategorien filtern</option>

                {{range .AvailableCategories}}
                    <option class="category">{{.}}</option>
                {{end}}

            </select>
        </div>
    </div>
    <div class="item3">
        <table id="bookmarkTable">
            <thead>
            <tr>
                <th>URL</th>
                <th>Kurzbeschreibung</th>
                <th>
                    <div class="tooltip" onclick="sortAfterTitle(event)">Title
                        <span class="tooltiptext">Zum Sortieren klicken</span>
                    </div>
                </th>
                <th>Icon/Logo</th>
                <th>WVR-Kategorien</th>
                <th>Kategorien</th>
                <th>
                    <div class="tooltip">Latitude</div>
                </th>
                <th>
                    <div class="tooltip" onclick="sortAfterTime(event)">Erstelldatum
                        <span class="tooltiptext">Zum Sortieren nach Erstelldatum klicken</span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{range .Bookmarks}}

                <tr>
                    <td class="url"><a href={{.URL}} target="_blank">{{.Title}}</a></td>
                    <td class="shortReview">{{.ShortReview}}</td>
                    <td class="title">{{.Title}}</td>
                    <td class="icon">
                        <img class="imgIcon" id="icon" src="/gridGetIcon?fileName={{.IconName}}" alt="">
                    </td>
                    <td>
                        <ul class="wvrCategories">
                            {{range .WVRCategories}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </td>
                    <td>
                        <img alt="not found" id={{.URL}} class="addCategory" onclick="addCategoryToBookmark(event)"
                             src="plusIcon.png?">
                        <!-- <img id={{.URL}} class="removeCategory" onclick="openRemoveCategoryModal(event)" src="minus.png?">-->
                        <ul class="customCategories" id="catList">
                            {{range .CustomCategories}}
                                <li onclick="openRemoveCategoryModal(event)">{{.}}</li>
                            {{end}}
                        </ul>
                    </td>
                    <td class="coordinates">
                        <p class="lat">Latitude: {{.Lat}}</p>
                        <p class="lon">Longitude {{.Long}}
                        </p>
                    </td>
                    <td class="creationDate">{{.CreationDate}}</td>
                </tr>
            {{end}}

            </tbody>
        </table>
    </div>
    <template id="selectCategory">
        <option class="category">
        </option>
    </template>
    <template id="bookmarkRow">
        <tr>
            <td class="url"></td>
            <td class="shortReview"></td>
            <td class="title"></td>

            <td class="icon"><img class="imgIcon" id="icon" src="/gridGetIcon?fileName=" alt=""></td>
            <td class=>
                <ul class="wvrCategories">
                </ul>
            </td>
            <td><img alt="not found" class="addCategory" onclick="addCategoryToBookmark(event)" src="plusIcon.png?">
                <!-- <img class="removeCategory" onclick="openRemoveCategoryModal(event)" src="minus.png?">-->
                <ul onclick="openRemoveCategoryModal(event)" class="customCategories"></ul>
            </td>
            <td class="coordinates"><p class="lat">Latitude: </p>,<p class="lon">Longitude </p></td>
            <td class="creationDate"></td>
        </tr>
    </template>

    <script src="bookmarks.js"></script>

    {{template "newCategoryModal"}}
    <script src="newCategoryModal.js"></script>
    {{template "addCategoryModal"}}
    <script src="addCategoryModal.js"></script>
    {{template "removeCategoryModal"}}
    <script src="removeCategoryModal.js"></script>

    {{template "end"}}
{{end}}
