{{define "bookmarks"}}
    {{template "head"}}
    <div class="item2">

        <div class="Column">
            <input type="button" value="deleteUser">
        </div>
        <div class="Column">
            <input type="button" value="logout">
        </div>
        <div class="Column">
            <input type="button" value="neue Kategorie">
        </div>
        <div class="Column">
           <select>
            <option>Kategorien</option>
               <option></option>
           </select>
        </div>
    </div>
    <div id="tableDiv" class="item3">
        <table>
            <tr>

                <th>URL</th>
                <th>Kurzbeschreibung</th>
                <th>TitelText</th>
                <th>Images</th>
                <th>Icon/Logo</th>
                <th>Kategorien</th>
                <th>GPS</th>
            </tr>
            {{range .Bookmarks}}
                <tr>

                    <td><a href={{.URL}} target="_blank">{{.URL}}</a></td>
                    <td>{{.ShortReview}}</td>
                    <td>{{.TitleText}}</td>
                    <td><a href="{{.Images}}"></a></td>
                    <td><img src="/gridGetIcon?fileName="{{.IconName}}></td>
                    <td>{{.Categories}}</td>
                    <td>{{.Coordinates}}</td>
                </tr>
            {{end}}
        </table>
    </div>

    <script src="bookmarks.js"></script>
    {{template "end"}}
{{end}}
