{{define "head"}}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>drückMich</title>
    <link rel="stylesheet" href="stylesheet.css">



</head>
<body>
<div class="grid-container">
<div class="header item1" >
   <h1>drück<img class="headIcon" alt="not found" src=icon.png style="width:50px;height:50px">ich</h1>


</div>
{{end}}
