{{define "login"}}
{{template "head"}}

<div class="item3">
    <form method="post" action="drueckMich">
        <label>Benutzername:</label>
        <input type="text" name="username" required>
        <br>
        <label>Passwort:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="login">
    </form>

        <label>registrieren?</label>
        <input type="button" id="registrationButton" value="registrieren">

    <p>{{.Message}}</p>
</div>
{{template "registrationModal"}}
<script src="registrationModal.js"></script>
{{template "end"}}
{{end}}
