{{define "login"}}
{{template "head"}}
{{template "registrationModal"}}
<script src="registrationModal.js"></script>
<div class="item3">
    <form method="post" action="drueckMich">
        <label>Benutzername:</label>
        <input type="text" name="username" required>
        <br>
        <label>Passwort:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="login">
    </form>

        <label>registrieren?</label>
        <input type="button" id="registrationButton" value="registrieren">
    {{if .ShowModal}}
       <script>
           console.log('show RegistrationModal');

           registrationModal.style.display = "block";
       </script>
    {{end}}
    <p>{{.Message}}</p>

</div>

{{template "end"}}
{{end}}
