{{define "login"}}
{{template "head"}}

<div class="item3">
    <form method="post" action="drueckMich">
        <label>Benutzername:</label>
        <input type="text" name="username" required>
        <br>
        <label>Passwort:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="login">
    </form>
    <form method="post" action="registrate">
        <label>registrieren?</label>
        <input type="submit" value="registrieren">
    </form>
    <p>{{.Message}}</p>
</div>

{{template "end"}}
{{end}}
