{{define "login"}}
{{template "head"}}
{{template "registrationModal"}}

<div class="item3">
    <form method="post" action="drueckMich">
        <label>Benutzername:</label>
        <input type="text" name="username" required>
        <br>
        <label>Passwort:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="login">
    </form>

        <label>registrieren?</label>
        <input type="button" id="registrationButton" value="registrieren">
    <script src="registrationModal.js"></script>

    <p>{{.Message}}</p>

</div>

{{template "end"}}
{{end}}
