{{define "newCategoryModal"}}
    <!-- abgeändertes Beispiel von w3school -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="modal.css">
</head>
<body>
<!-- The Modal -->
<div id="newCategoryModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2>neue Kategorie</h2>
        </div>
        <div class="modal-body">

                <label>Name der Kategorie</label>
                <input id="catName" type="text" name="catName">
                <submit id="send">Senden</submit>
                <br>

        </div>
        <div class="modal-footer">
            <h3>Drück Mich</h3>
        </div>
    </div>
</div>
<script>

</script>

</body>
</html>
{{end}}