{{define "removeCategoryModal"}}
    <!-- abgeändertes Beispiel von w3school -->
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="modal.css">
    </head>
    <body>
    <!-- The Modal -->
    <div id="removeCategoryModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Kategorie entfernen</h2>
            </div>
            <div id="container" class="modal-body">

            </div>
            <div class="modal-footer">
                <h3>Drück Mich</h3>
            </div>
        </div>
    </div>
    <template>
        <div class="myClass" ><p></p></div>
    </template>

    </body>
    </html>
{{end}}